langchain==1.3.11
langchain-core==1.4.8
langchain-community==0.4.2
langchain-text-splitters==1.1.2
langchain-chroma==1.1.0
langchain-huggingface==1.2.2
langchain-groq==1.1.3


chromadb==1.1.0

sentence-transformers
transformers
torch


PyMuPDF
pytesseract
Pillow

SpeechRecognition
PyAudio

pyttsx3

python-dotenv
huggingface-hub
tiktoken